html {
  font-size: 16px;
}

@media screen and (max-width: 2000px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 1400px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 1000px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 8px;
  }
}
@media screen and (max-width: 770px) {
  html {
    font-size: 7px;
  }
}
@media screen and (max-width: 670px) {
  html {
    font-size: 6px;
  }
}
@media screen and (max-width: 570px) {
  html {
    font-size: 5px;
  }
}
@media screen and (max-width: 470px) {
  html {
    font-size: 4px;
  }
}
* {
  font-family: "Lato", sans-serif;
}

body {
  font-size: 1rem;
  background: linear-gradient(#0b1113, #2b3740, #10161d);
  height: 100vh;
  padding: 0;
  margin: 0;
}

.body-height {
  min-height: calc(100vh - 7rem);
}

.header {
  height: 3.75rem;
  display: flex;
  flex-direction: row;
  background-color: #1c2028;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__leftside {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.2rem;
  height: 3.75rem;
}

.prelogo-section {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.prelogo-section__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  background: linear-gradient(to top left, rgba(235, 145, 43, 0.11) 20%, rgba(255, 255, 255, 0) 50%), linear-gradient(to top, rgba(28, 32, 40, 0.808), #1c2028), url("../images/noise.svg");
}

.start-navigation {
  display: flex;
  justify-content: left;
}
.start-navigation__btn {
  position: relative;
  cursor: pointer;
  border-radius: 0;
  border: 0;
  margin: 0;
  background: transparent;
  height: 2.5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}
.start-navigation__btn:nth-child(n+2) {
  border-left: 0.125rem solid rgba(86, 75, 64, 0.9);
}
.start-navigation__btn:not(:last-child) {
  border-right: 0.125rem solid rgb(3, 20, 29);
}
.start-navigation__icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-navigation__icon img {
  width: 2rem;
  height: 2rem;
}

.logo-section {
  position: relative;
  width: 12.5rem;
  height: 3.75rem;
}
.logo-section__image {
  width: 3.625rem;
  height: 3.625rem;
  position: absolute;
  left: 50%;
  margin-left: -1.8125rem;
  top: 0.5rem;
  z-index: 4;
}
.logo-section__forward-layer {
  position: absolute;
  left: 50%;
  margin-left: -5rem;
  z-index: 3;
  width: 10rem;
  height: 5rem;
  background-color: #191d24;
  box-shadow: 0.44rem 0 0 0 rgb(24, 24, 24), inset 1px -2px 4px 0px rgba(144, 147, 151, 0.555);
  transform: perspective(10px) rotateX(-0.6deg);
  overflow: hidden;
}
.logo-section__shadow {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 12.5rem;
  height: 5rem;
  display: block;
  background: linear-gradient(to top, rgba(235, 145, 43, 0.164), rgba(255, 255, 255, 0));
}
.logo-section__second-layer {
  position: absolute;
  z-index: 2;
  height: 4.375rem;
  width: 12.5rem;
  background: linear-gradient(to top, rgba(235, 145, 43, 0.11), rgba(255, 255, 255, 0)), #1c2028;
  box-shadow: 0.44rem 0 0 0 rgb(24, 24, 24), inset 1px -2px 4px 0px rgba(144, 147, 151, 0.555);
  transform: perspective(10px) rotateX(-1.8deg);
}

.main-navigation__btn {
  position: relative;
  cursor: pointer;
  border-radius: 0;
  border: 0;
  margin: 0;
  font-size: 1rem;
  color: rgb(144, 147, 151);
  box-shadow: 0.44rem 0 0 0 rgb(24, 24, 24), inset 1px -1.8px 4px 0px rgba(144, 147, 151, 0.356);
  height: 3.75rem;
  transform: skew(-15deg);
  padding: 0 3.125rem;
}
.main-navigation__btn:nth-child(1) {
  background: linear-gradient(to top right, rgba(235, 145, 43, 0.11), rgba(255, 255, 255, 0)), linear-gradient(to top, rgba(28, 32, 40, 0.808), #1c2028), url("../images/noise.svg");
}
.main-navigation__btn:nth-child(2) {
  background: linear-gradient(to top right, rgba(235, 145, 43, 0.048), rgba(255, 255, 255, 0)), linear-gradient(to top, rgba(28, 32, 40, 0.808), #1c2028), url("../images/noise.svg");
}
.main-navigation__btn:nth-child(3) {
  background: linear-gradient(to top right, rgba(235, 145, 43, 0.025), rgba(255, 255, 255, 0)), linear-gradient(to top, rgba(28, 32, 40, 0.808), #1c2028), url("../images/noise.svg");
}
.main-navigation__btn:nth-child(4) {
  background: linear-gradient(to top, rgba(28, 32, 40, 0.808), #1c2028), url("../images/noise.svg");
}
.main-navigation__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5%;
  width: 110%;
  height: 110%;
  opacity: 0;
  transition: 1s;
}
.main-navigation__btn:hover {
  color: rgb(170, 205, 241);
}
.main-navigation__btn:hover::before {
  opacity: 1;
  background: radial-gradient(at 50% 20%, rgba(171, 205, 253, 0.26) 30%, rgba(159, 193, 243, 0) 70%);
}
.main-navigation__btn--active {
  color: rgb(170, 205, 241);
}
.main-navigation__btn--active::before {
  opacity: 1;
  background: radial-gradient(at 50% 20%, rgba(171, 205, 253, 0.26) 30%, rgba(159, 193, 243, 0) 70%);
}
.main-navigation__text {
  font-weight: 700;
  transform: skew(15deg);
  text-shadow: -0.0625rem -0.0625rem #000, 0 -0.0625rem 0 #757575;
  text-transform: uppercase;
  transition: 1s;
}

.end-navigation {
  display: flex;
  justify-content: end;
  gap: 0.2rem;
}
.end-navigation__btn {
  position: relative;
  cursor: pointer;
  border-radius: 0;
  border: 0;
  margin: 0;
  background: linear-gradient(to top, rgba(28, 32, 40, 0.808), #1c2028), url("../images/noise.svg");
  box-shadow: 0.44rem 0 0 0 rgb(24, 24, 24), inset 1px -1.8px 4px 0px rgba(144, 147, 151, 0.356);
  height: 3.75rem;
  transform: skew(-15deg);
  padding: 0 1.25rem;
}
.end-navigation__icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skew(15deg);
}
.end-navigation__icon img {
  width: 2rem;
  height: 2rem;
}
.end-navigation__last-item {
  width: 0.5rem;
}

.gold-info {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}
.gold-info__icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gold-info__icon img {
  width: 2rem;
  height: 2rem;
}
.gold-info__currency {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  color: #e3d585;
}

.container {
  margin: 0 auto;
  max-width: 75rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

.heroes-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.heroes__title {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  margin-bottom: 0.5rem;
}

.pack {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.pack__item {
  width: 3.75rem;
  height: 6.25rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.pack__item:hover {
  transform: scale(1.3);
  z-index: 2;
}
.pack__image {
  position: absolute;
  left: 50%;
  margin-left: -2.6875rem;
  top: 0;
  height: 100%;
}

.footer {
  min-height: 6.25rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.footer__middle {
  display: flex;
  justify-content: center;
  align-items: end;
}
.footer__end {
  display: flex;
  justify-content: left;
  align-items: end;
}

.chat-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  width: 36rem;
  margin: 2rem 0;
  padding: 0.5rem 0.3rem;
}
.chat-input .left-section {
  display: flex;
  justify-content: left;
  align-items: center;
}
.chat-input .left-section .username-section {
  color: #6593AA;
}
.chat-input .left-section .message {
  color: #737C7D;
  margin-left: 0.5rem;
}

.start__button {
  border-radius: 0;
  border: 0;
  cursor: pointer;
  background: linear-gradient(to top, #3E6A51, #4D894D);
  margin: 2rem 0;
}
.start__text {
  padding: 0.6rem 4.5rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

/*# sourceMappingURL=styles.css.map */
