.footer {
    min-height: 6.25rem; //100px
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  
    &__middle {
      display: flex;
      justify-content: center;
      align-items: end;
    
    }
  
    &__end {
      display: flex;
      justify-content: left;
      align-items: end;
    }
}