.header {
    height: $header_height; // 60px
    display: flex;
    flex-direction: row;
    background-color: $btn_color;
    justify-content: space-between;
    align-items: center;
    position: relative;
  
    &__leftside {
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 0.2rem;
      height: $header_height;
    }
}