.prelogo-section {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    
    &__shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 120%;
      height: 100%; 
      background: linear-gradient(to top left,rgba(235, 145, 43, 0.11) 20%, rgba(255, 255, 255, 0) 50%), 
      linear-gradient(to top, rgba(28, 32, 40, 0.808), $btn_color),
      url('../images/noise.svg');
    }
  
}