.start {

    &__button {
      border-radius: 0;
      border: 0;
      cursor: pointer;
      background: linear-gradient(to top, #3E6A51, #4D894D);
      margin: 2rem 0;
    }
  
    &__text {
      padding: 0.6rem 4.5rem;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: bold;
      color: white;
    }  
  
  }