.gold-info {
  display: flex;
  align-items: center;
  padding: 0 1.5rem; //24px

  .icon {
    @include button-icon();
  }

  .gold-currency {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: #e3d585;
  }

}

.right-btn {
    @include button-m(); 
    background: nth($main-buttons-background-list, 4);
    box-shadow: map-get($shadows-map, 'main-btn');
    height: $header_height;
    transform: skew(-15deg);
    padding: 0 1.25rem; //20px

    .icon {
      @include button-icon();

      transform: skew(15deg);
    }
}

.last-item {
  width: 0.5rem;
}