$btn_color: #1c2028;

$header_height: 3.75rem; // 60px

$backgrounds-map: (
  background-color: linear-gradient(#0b1113, #2b3740, #10161d),
  
  logo-background: linear-gradient(to top, rgba(235, 145, 43, 0.164), rgba(255, 255, 255, 0)),

  logo-second-layer: (linear-gradient(to top, rgba(235, 145, 43, 0.11), rgba(255, 255, 255, 0)), $btn_color),

  
  );
  
  $main-buttons-background-list: (
    (
      linear-gradient(to top right,rgba(235, 145, 43, 0.11), rgba(255, 255, 255, 0)), 
      linear-gradient(to top, rgba(28, 32, 40, 0.808), $btn_color),
      url('/noise.svg')    
    ),

    (
      linear-gradient(to top right,rgba(235, 145, 43, 0.048), rgba(255, 255, 255, 0)), 
      linear-gradient(to top, rgba(28, 32, 40, 0.808), $btn_color),
      url('/noise.svg')    
    ),

    (
      linear-gradient(to top right,rgba(235, 145, 43, 0.025), rgba(255, 255, 255, 0)), 
      linear-gradient(to top, rgba(28, 32, 40, 0.808), $btn_color),
      url('/noise.svg')    
    ),  

    (
      linear-gradient(to top, rgba(28, 32, 40, 0.808), $btn_color),
      url('/noise.svg')    
    ), 

);


$shadows-map: (
  logo-forward-layer: (7px 0px 0px 0px rgb(24, 24, 24),
  inset 1px -2px 4px 0px rgba(144, 147, 151, 0.555)),

  logo-second-layer: (7px 0px 0px 0px rgb(24, 24, 24),
  inset 1px -2px 4px 0px rgba(144, 147, 151, 0.555)),

  main-btn: (7px 0px 0px 0px rgb(24, 24, 24),
  inset 1px -1.8px 4px 0px rgba(144, 147, 151, 0.356)),

);

$text-shadows-map: (
  main-btn: (-1px -1px #000, 0 -1px 0 #757575),
);


@mixin centered-object($width) {
  $value: calc($width/2);

  position: absolute;
  left: 50%;
  margin-left: -$value;
}

@mixin button-m() {
  position: relative;
  cursor: pointer;
  border-radius: 0;
  border: 0;
  margin: 0;  
}

@mixin button-icon() {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;  
}

html {
  font-size: 16px;
}

@media screen and (max-width: 2000px) {
  html {
    font-size: 14px;
  }
    
}


@media screen and (max-width: 1400px) {
  html {
    font-size: 12px;
  }
    
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 10px;
  }
    
}

* {

  font-family: "Lato", sans-serif;
}

body {
  font-size: 1rem;
  background: map-get($backgrounds-map, 'background-color');
  height: 100vh;
  padding: 0;
  margin: 0;
}

.body-height {
  min-height: calc(100vh - 7rem);
}

header {
  height: $header_height; // 60px
  
  .header {
    display: flex;
    flex-direction: row;
    background-color: $btn_color;
    justify-content: space-between;
    align-items: center;
    position: relative;
     
    .leftSideMenu{
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 0.2rem;
      height: $header_height;
      
      
      .pre-logo-section{
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        
        .pre-logo-shadow {
          position: absolute;
          top: 0;
          left: 0;
          width: 120%;
          height: 100%; 
          background: linear-gradient(to top left,rgba(235, 145, 43, 0.11) 20%, rgba(255, 255, 255, 0) 50%), 
          linear-gradient(to top, rgba(28, 32, 40, 0.808), $btn_color),
          url('/noise.svg');
        }
        .pre-logo-buttons {
          display: flex;
          justify-content: left;

  
          @import "prelogo-buttons";
        }
  
      }
      
      .logo-section {
        $logo-section-width: 12.5rem; //200px

        position: relative;
        width: $logo-section-width;
        height: 3.75rem; //60px
  
        .logo-section--image {
          $logo-section-image-size: 3.625rem; //58px

          width: $logo-section-image-size;
          height: $logo-section-image-size;

          @include centered-object($logo-section-image-size);
          top: 0.5rem;
          z-index: 4;
        }
  
        .logo-section--forward-layer{
          $logo-section-forward-layer-width: 10rem; //160px

          @include centered-object($logo-section-forward-layer-width);
          z-index: 3;
          width: $logo-section-forward-layer-width;
          height: 5rem; //80px
          background-color: #191d24;
          box-shadow: map-get($shadows-map, 'logo-forward-layer');
          transform: perspective(10px) rotateX(-0.6deg);
          overflow: hidden;
  
          .logo_shadow {
            position: absolute;
            top: 0;
            z-index: 10;
            width: $logo-section-width;
            height: 5rem;
            display: block;
            background: map-get($backgrounds-map, 'logo-background')
          }        
        }
  
        .logo-section--second-layer{
          position: absolute;
          z-index: 2;
          height: 4.375rem; //70px
          width: $logo-section-width;
          background: map-get($backgrounds-map, 'logo-second-layer');
          box-shadow: map-get($shadows-map, 'logo-second-layer');
          transform: perspective(10px) rotateX(-1.8deg);          
        }
      }
  
      .main-buttons-section {
        @import "main-buttons";
      }
  
    }
  
    .rightSideMenu {
      display: flex;
      justify-content: end;
      gap: 0.2rem;

      @import "right-buttons";
    }
  }
}


main {

  .container {
    margin: 0 auto;
    max-width: 75rem; //1200px
    margin-top: 3rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
  
    .heroes-columns{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      
      .heroes-column {
  
        .heroes-pack {
  
          h2 {
            text-transform: uppercase;
            font-size: 0.8rem;
            font-weight: bolder;
            color: #fff;
            margin: 0;
            margin-bottom: 0.5rem;
          }
  
          .heroes-select{
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
            gap: 0.5rem;
  
            .heroes-item {
              $heroes-width: 3.75rem; //60px
              $heroes-width-real: 5.375rem;//86px

              width: $heroes-width; //60px
              height: 6.25rem; //100px
              cursor: pointer;
              position: relative;
              overflow: hidden;
              transition: transform .3s cubic-bezier(.23,1,.32,1);   
  
              & img {
                @include centered-object($heroes-width-real);
                top: 0;
                height: 100%;
              }
  
                &:hover{
                  transform: scale(1.3);
                  z-index: 2;
                }
            }
          }
        }
  
  
      }
    
    }
  
  }

}

footer {
  min-height: 6.25rem; //100px
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  .chat {
    display: flex;
    justify-content: center;
    align-items: end;

    .chat-input {
      background: #000000;
      height: 2rem;
      width: 36rem;
      margin: 2rem 0;
    }
  }

  .start {
    display: flex;
    justify-content: left;
    align-items: end;

    .start-button {
      border-radius: 0;
      border: 0;
      cursor: pointer;
      background: linear-gradient(to top, #3E6A51, #4D894D);
      margin: 2rem 0;
      
      .text {
        padding: 0.6rem 4.5rem;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: bold;
        color: white;
      }
    }

  }
}